/* :root {
  --heights: 50vh;
  --widths: 100%;
}

.slider-container {
  height: var(--heights);
  width: var(--widths);
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slides {
  opacity: 0;
  inset: 0;
  height: var(--heights);
  width: var(--widths);
  position: relative;
  transition: 200ms opacity ease-in;
  transition-delay: 200ms;
}


.slides.active {
    display: inline-block;
    opacity: 1;
    transition-delay: 0ms;
    z-index: 1;
}

.inactive {
    opacity: 0;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.prev,
.next {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -3rem;
  font-size: 30px;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
}

.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.prev:hover,
.next:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-out;
}

.all-dots {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  top: 85%;
  justify-content: center;
  z-index: 200;
}

.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
}

.active-dot,
.dot:hover {
  background-color: rgba(255, 255, 255, 0.5);
} */

.carousel__track-container {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.carousel__track {
  width: 100%;
  height: 100%;
}

.carousel__slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition-timing-function: ease-in-out;
}

.current__slide {
  z-index: 1;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel__button--left {
  left: 15px;
}

.carousel__button--right {
  right: 15px;
}

.carousel__button--icon {
  font-size: 24px;
}
