.nav-contents, .nav-container {
  display: flex;
  flex-direction: column;
}

.show-nav {
  position: fixed;
  left: -100%;
  top: 0;
  transition: 850ms;
  background: linear-gradient(110deg, #0173cc 60%, #ffed4b 60%);
  height: 100vh;
  width: 100%;
}

.show-nav.active {
  left: 0;
}

.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
  width: 44px;
}

.burger-icon, .closeBtn {
  width: 40px;
}

.company-logo {
  width: 60px;
}

.search-box {
  display: none;
}